<h1>プロフィール編集</h1>
<%= form_with url: "/users/profile" do |f| %>

  <div class ="field">
    <%= image_tag @user.icon.url %>
    <% if @user.icon? %>
      <%= f.label :remove_icon, value="アイコン画像削除" %>
      <%= f.check_box :remove_icon %>
    <% end %>
    <br/>
    <%= f.label :icon, value="アイコン画像" %><br />
    <%= f.file_field :icon, value: @user.icon.url %>

  </div>

  <div class ="field">
    <%= f.label :name, value = "ユーザー名" %>
    <%= f.text_field :name, value: @user.name %>
  </div>

  <div class ="field">
    <%= f.label :introduction, value = "自己紹介" %>
    <%= f.text_area :introduction %>
  </div>

  <%= f.submit "変更する" %>
<% end %>
