<h2>検索結果</h2>
<div>
  <table>
      <tr>
          <th>ID</th>
          <th>施設名</th>
          <th>紹介文</th>
          <th>料金</th>
          <th>詳細</th>
      </tr>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.id %></td>
          <td><%= room.name %></td>
          <td><%= room.detail %></td>
          <td><%= room.price %></td>
          <td><%= link_to "詳細はこちら","/rooms/#{room.id}" %></td>
        </tr>
      <% end %>
  </table>
</div>
