<h2>検索結果</h2>
<div>
  <table>
      <tr>
        <th>施設画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>詳細</th>
      </tr>
      <% @results.each do |result| %>
        <tr>
          <td><%= image_tag result.room_icon.url %></td>
          <td><%= result.name %></td>
          <td><%= result.detail %></td>
          <td><%= result.price %>円</td>
          <td><%= link_to "詳細はこちら","/rooms/#{result.id}" %></td>
        </tr>
      <% end %>
  </table>
</div>
