<h1>施設の新規登録</h1>

<%= form_with url: "/rooms"  do |f| %>
  <div class ="field">
    <%= f.label :name, value = "施設名" %>
    <%= f.text_field :name %>
  </div>

  <div class ="field">
    <%= f.label :detail, value = "詳細" %>
    <%= f.text_area :detail %>
  </div>

  <div class ="field">
    <%= f.label :price, value = "料金" %>
    <%= f.text_field :price %>
  </div>

  <div class ="field">
    <%= f.label :address, value = "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class ="field">
    <%= f.label :room_icon, value = "参考画像" %>
    <%= f.file_field :room_icon %>
  </div>

  <div class ="field">
    <%= f.submit "登録する" %>
  </div>

<% end %>
