<div class = "return-page">
  <%= link_to 'javascript:history.back()' do %>
    <button>戻る</button>
  <% end %>
</div>
<div class = "room-info">
  <p><%= @room.name %></p>
  <p><%= @room.price %>円</p>
</div>
<div class = "room-address">
  <p><%= @room.address %></p>
</div>

<div class ="reserve-form">
  <%= form_with url: new_reservation_path, method: :get do |f| %>
    <%= f.hidden_field :user_id, {value: current_user.id} %>
    <%= f.hidden_field :room_id, {value: @room.id} %>

    <%= f.label :check_in, "チェックイン" %>
    <%= f.date_field :check_in, min: Date.current, required: true %>

    <%= f.label :check_out, "チェックアウト" %>
    <%= f.date_field :check_out, min: Date.current.next_day, required: true %>

    <%= f.label :people, "人数" %>
    <%= f.number_field :people, required: true, min: 1 %>

    <% if user_signed_in? %>
      <%= f.submit "予約する", class:"" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

  <% end %>
</div>
